/*------------------------------------Welcome Screen Header-----------------------------------*/
.OpeningPage{
    height: 100%;
    background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY-970-80.jpg");
    margin: auto;
}

.greetingMain{
    margin-top: 90px;
}

.greeting{
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    color: lightgoldenrodyellow;
    padding: 0px;
    font-family: 'Abel', sans-serif;
}

@media only screen and (min-width:365px){
    .greeting{
        font-size: 50px;
    }
}

@media only screen and (min-width:411px){
    .greeting{
        font-size: 60px;
    }
}


@media only screen and (min-width:548px){
    .greeting{
        font-size: 40px;
    }
}

@media only screen and (min-width:700px){
    .greeting{
        font-size: 45px; 
        margin-top: 20px;
    }
}

@media only screen and (min-width:768px){
    .greeting{
        font-size: 55px; 
        margin-top: 50px;
    }
}

@media only screen and (min-width:925px){
    .greeting{
        font-size: 60px; 
        margin-top: 20px;
    }
}
@media only screen and (min-width:1300px){
    .greeting{
        font-size: 80px; 
        margin-top: 20px;
    }
}

@media only screen and (min-width:1700px){
    .greeting{
        font-size: 110px; 
        margin-top: 20px;
    }
}


h2{
    font-size: 50px;
    font-family: 'Lexend Deca', sans-serif;
}

@media only screen and (min-width:411px){
    h2{
        font-size: 70px;
    }
}

@media only screen and (min-width:548px){
    h2{
        margin-top: 125px;
    }
}

@media only screen and (min-width:700px){
    h2{
        font-size: 50px; 
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width:768px){
    h2{
        font-size: 70px; 
}

@media only screen and (min-width:1300px){
    h2{
        font-size: 80px; 
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.buttonHolder{
    display: flex;
}

.greetingSubmitButton{
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    padding: 5px;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
    background: green;
    width: 50%;
}
@media only screen and (min-width:1000px){
    .greetingSubmitButton{
        font-size: 50px; 
    }
}

.logo{
    width: 20%;
    height: 15%;
    border-radius: 50%;
}

@media only screen and (min-width:411px){
    .logo{
        width: 90px;
        height: 70px;  
    }
}

@media only screen and (min-width:548px){
    .logo{
        width: 90px;
        height: 80px;  
    }
}

@media only screen and (min-width:768px){
    .logo{
        margin-top: 20px;
        width: 90px;
        height: 80px;  
    }
}

@media only screen and (min-width:1200px){
    .logo{
        width: 150px;
        height: 125px;  
    }
}

@media only screen and (min-width:1600px){
    .logo{
        width: 200px;
        height: 180px;  
    }
}

.left{
    margin-left: 3%;
    position: absolute;
    left: -5px;
    visibility: hidden;
}

@media only screen and (min-width:700px){
    .left{
        margin-left: 3%;
        position: absolute;
        left: -5px;
        visibility: visible;
        top: 16px;
        border: solid 2px white;
    }
}

.centeredLogo{
    max-width: 70px;
    margin: 0 auto;
}

.right{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: solid 2px white;
    }

@media only screen and (min-width:700px){
    .right{
        margin-right: 3%;
        position: absolute;
        right: -5px;
        top: 16px;
        border: solid 2px white;
        }
    }
    /* @media only screen and (min-width:411px){
        .right{
            width: 90px;
            height: 70px;  
        }
    } */

    @media only screen and (min-width:768px){
        .right{
            margin-top: 20px;
            /* width: 90px;
            height: 80px;   */
        }
    }

    /* @media only screen and (min-width:1200px){
        .right{
            width: 150px;
            height: 125px;  
        }
    } */


li{
    list-style-type: none;
    margin-bottom: 10px;
    }


/*-------------------------------------------------------------------------------------------*/
/*--------------------------------------Question Screen--------------------------------------*/
.questionTitle{
    text-align: center;
    font-size: 55px;
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
    margin: 0;
    color: lightgoldenrodyellow
}

@media only screen and (min-width:700px){
    .questionTitle{
        font-size: 80px; 
        margin-top: 20px;
    }
}

@media only screen and (min-width: 900px){
    .questionTitle{
        font-size: 100px;
    }
}

.questionCounter{
    display: inline;
}

.currentQuestion{
    text-align: center;
    font-size: 30px;
    font-family: 'Abel', sans-serif;
    color: lightgray;
    margin-bottom: 20px;
}

@media only screen and (min-width:700px){
    .currentQuestion{
        font-size: 50px;
    }
}

.answers{
    text-align: center;
}

label{
    font-family: 'Acme', sans-serif;
    font-size: 15px;
    padding-bottom: 10px;
    color: lightgray;
}

@media only screen and (min-width:700px){
    label{
        font-size: 25px;
    }
}

.scoreCounter{
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    
}

.quizCounter{
    text-align: center;
    margin-top: 90px;
    background-size: cover;
    color: rgba(131, 57, 57, 0.842);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    background-image: linear-gradient(to right, rgb(57, 57, 131) , lightgray);
}

@media only screen and (min-width:700px){
    .quizCounter{
        font-size: 35px;
        margin-top: 70px;
    }
}


.questionsubmitButton{
    margin-left: auto;
    margin-right: auto;
    padding: 5px 10%;
    margin-top: 10px;
    font-size: 20px;
    /* padding-left: 10%;
    padding-right: 10%; */
    background-color: green;
    width: 50%;
}

/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------Correct Screen-----------------------------------------*/
.correct{
    background-image: url("https://kenikin.com/w/destiny-Wallpaper-HD-number-J5A.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    height: 100%;
}

.correctTitle{
    text-align: center;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: rgba(17, 160, 36, 0.76);
    padding: 0px;
    font-family: 'Abel', sans-serif;
    /* animation-name: smallToBig;
    animation-duration: 4s; */
}

@media only screen and (min-width: 1150px){
    .correctTitle{
        font-size: 100px;
    }
}

.correctCounter, .incorrectCounter{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
}
@media only screen and (min-width: 1300px){
    .correctCounter, .incorrectCounter{
        font-size: 45px;
    }
}

.correctScore,.wrong{
    background-image: linear-gradient(to right, rgb(187, 187, 211) , rgb(143, 226, 147, .50));
}


.lore,.givenAnswer{
    font-weight: bold;
    font-family: 'Righteous', cursive;
    color: rgb(243, 211, 211);
    background: rgb(0, 0, 0, .6);
    border-radius: 25%;
    /* animation-name: smallToBigLore;
    animation-duration: 4s; */
    font-size: 25px;
}

@media only screen and (min-width: 1300px){
    .lore, .givenAnswer{
        font-size: 45px;
    }
}

.correctScore{
    font-weight: bold;
}

.wrong{
    font-weight: bold;
}

.submitButton{
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: green;
    width: 50%;
}
@media only screen and (min-width: 1300px){
    .submitButton{
        font-size: 40px;
    }
}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------Incorrect Screen----------------------------------------*/
.incorrect{
    background-image: url("http://markinternational.info/data/out/237/220755596-destiny-wallpaper-hd.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.incorrectTitle{
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: rgba(141, 12, 12, 0.76);
    padding: 0px;
    font-family: 'Abel', sans-serif;
}

/* .incorrectLogoLeft{
    width: 10%;
    height: 116px;
    border-radius: 50%;
    margin-left: 3%;
    position: absolute;
    left: -5px;
    border: 2px solid silver;
} */

/* .incorrectLogoRight{
    width: 10%;
    height: 116px;
    border-radius: 50%;
    margin-right: 3%;
    position: absolute;
    right: -5px;  
    border: 2px solid silver;
} */

.incorrectCounter{
    text-align: center;
    color: black;
    font-size: 30px;
}
/*---------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------ */
/*----------------------------------------End of Game-----------------------------------------*/
.endGame{
    font-size: 65px;
}

.ready{
    text-align: center;
    /* background-image: url("https://i.pinimg.com/originals/57/df/43/57df438f3fa38392ff8a3986febe604f.jpg"); */
    background-image: url("https://data.whicdn.com/images/21060713/large.jpg");
    background-size: cover;
    color: lightgoldenrodyellow;
    /* border-radius: 25%; */
}

.resetButton{
    margin-left: 35%;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------KeyFrames---------------------------------------------*/

/* @keyframes smallToBig{
    from{font-size: 5px;}
    to {font-size: 90px;}
}

@keyframes smallToBigLore{
    from{font-size: 5px;}
    to {font-size: 25px;}
} */
/*-------------------------------------------------------------------------------------------------------------*/





