/*------------------------------------Welcome Screen Header-----------------------------------*/
.OpeningPage{
    height: 100%;
    background-image: url("https://cdn.mos.cms.futurecdn.net/HuGGeENt6kGyixe3hT9tnY-970-80.jpg");
}

.greeting{
    text-align: center;
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: lightgoldenrodyellow;
    padding: 0px;
    font-family: 'Abel', sans-serif;
}

h2{
    font-size: 85px;
}

.greetingSubmitButton{
    margin-left: 35%;
    margin-right: 35%;
    font-size: 30px;
    padding: 5px;
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 10px;
    display:block;
    margin: 0 auto;
    background: green;
}

.logo{
    width: 10%;
    height: 10%;
    border-radius: 50%;    
}

.left{
    margin-left: 3%;
    position: absolute;
    left: -5px;
}

.right{
    margin-right: 3%;
    position: absolute;
    right: -5px;  
}

li{
    list-style-type: none;
    margin-bottom: 10px;
}

.quizCounter{
    text-align: center;
    background-size: cover;
    color: rgba(131, 57, 57, 0.842);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
    background-image: linear-gradient(to right, rgb(57, 57, 131) , lightgray);
}

.scoreCounter{
    margin-bottom: 0px;
    font-weight: bold;
    
}

label{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    padding-bottom: 10px;
    color: lightgray;
}
/*-------------------------------------------------------------------------------------------*/
/*--------------------------------------Question Screen--------------------------------------*/
.questionTitle{
    text-align: center;
    font-size: 100px;
    margin-top: 10px;
    font-family: 'Abel', sans-serif;
    margin: 0;
    color: lightgoldenrodyellow
}

.questionCounter{
    display: inline;
}

.currentQuestion{
    text-align: center;
    font-size: 70px;
    font-family: 'Abel', sans-serif;
    color: lightgray;
}

.answers{
    margin-left:  45%;
    padding: 0px;
    /* margin-right: 40%; */
}

.questionsubmitButton{
    margin-left: -5%;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: green;
}
/*-------------------------------------------------------------------------------------------*/
/*-------------------------------------Correct Screen-----------------------------------------*/
.correct{
    background-image: url("https://www.grabwallpapers.com/uploads/cache/2643635667/destiny-2-3840x2160-2019-4k-wallpaper-pJm-800x540-MM-100.jpg");
    object-fit: cover;
    
}

.correctTitle{
    text-align: center;
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: rgba(17, 160, 36, 0.76);
    padding: 0px;
    font-family: 'Abel', sans-serif;
    /* animation-name: smallToBig;
    animation-duration: 4s; */
}

.correctCounter{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.correctScore,.wrong{
    background-image: linear-gradient(to right, rgb(187, 187, 211) , rgb(143, 226, 147, .25));
}


.lore,.givenAnswer{
    font-weight: bold;
    font-family: 'Righteous', cursive;
    color: rgb(243, 211, 211);
    background: rgb(0, 0, 0, .6);
    border-radius: 25%;
    /* animation-name: smallToBigLore;
    animation-duration: 4s; */
    font-size: 25px;
}

.correctScore{
    font-weight: bold;
}

.wrong{
    font-weight: bold;
}

.submitButton{
    margin-left: 35%;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: green;
}

/*-------------------------------------------------------------------------------------------*/
/*------------------------------------Incorrect Screen----------------------------------------*/
.incorrect{
    background-image: url("http://markinternational.info/data/out/237/220755596-destiny-wallpaper-hd.jpg");
}

.incorrectTitle{
    text-align: center;
    font-size: 90px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-decoration: underline;
    color: rgb(141, 12, 12);
    padding: 0px;
    font-family: 'Abel', sans-serif;
    animation-name: smallToBig;
    animation-duration: 4s;
}

.incorrectLogoLeft{
    width: 10%;
    height: 116px;
    border-radius: 50%;
    margin-left: 3%;
    position: absolute;
    left: -5px;
    border: 2px solid silver;
}

.incorrectLogoRight{
    width: 10%;
    height: 116px;
    border-radius: 50%;
    margin-right: 3%;
    position: absolute;
    right: -5px;  
    border: 2px solid silver;
}

.incorrectCounter{
    text-align: center;
    color: black;
    font-size: 30px;
}
/*---------------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------------ */
/*----------------------------------------End of Game-----------------------------------------*/
.endGame{
    font-size: 65px;
}

.ready{
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/57/df/43/57df438f3fa38392ff8a3986febe604f.jpg");
    background-size: cover;
    color: rgba(131, 57, 57, 0.842);
}

.resetButton{
    margin-left: 35%;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}
/*--------------------------------------------------------------------------------------------*/
/*--------------------------------------KeyFrames---------------------------------------------*/

@keyframes smallToBig{
    from{font-size: 5px;}
    to {font-size: 90px;}
}

@keyframes smallToBigLore{
    from{font-size: 5px;}
    to {font-size: 25px;}
}
/*-------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------Media Queries------------------------------------------------*/

@media screen and (max-width: 1340px){
    .greeting,.questionTitle{
        font-size: 60px;
    }
    
    .logo{
        width: 8%;
        height: 75px;
        border-radius: 50%;
    }

    .incorrectLogoRight{
        width: 8%;
        height: 75px;
        border-radius: 50%;
    }

    .incorrectLogoLeft{
        width: 8%;
        height: 75px;
        border-radius: 50%;
    }

    .scoreCounter{
        margin-top: 10px;
    }

}

@media screen and (max-width: 916px){
    .greeting{
        font-size: 40px;
    }
    .currentQuestion, .incorrectTitle, .correctTitle{
        font-size: 50px;
    }
    .logo{
        width: 5%;
        height: 58px;
        border-radius: 50%;
    }

    .incorrectLogoLeft{
        width: 5%;
        height: 58px;
        border-radius: 50%;
    }
    .incorrectLogoRight{
        width: 5%;
        height: 58px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 768px){
/*-----------------------------------------------Title Screen----------------------------------------------------*/   
    .ready{
        background-image: url("http://www.baltana.com/files/wallpapers-1/Destiny-New-Wallpapers-05415.jpg");
    }
    
    .greeting{
        font-size:40px;
        width: 100%;
    }

    .logo{
        height: 50px;
        width: 50px;
    }
    
    h2{
        font-size: 70px;
    }

    .currentQuestion{
        font-size: 40px;
    }
/*----------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------Question Screen-------------------------------------------------------*/
    .currentQuestion{
        width: 100%;
        padding: 0;
    }    

    .questionTitle{
        font-size: 50px
    }

    .right{
        margin-right: 3%;
        position: absolute;
        right: -5px; 
        top: 10px; 
    }

    .questionsubmitButton{
        display:block;
        margin: 0 auto;
        margin-top: 15px;
    }
    
    .answers{
        display:block;
        margin: 0 auto;
        padding-left: 25%;
    }
/*-----------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------Correct Screen Mobile---------------------------------------------------------------*/
    /* .correctTitle{
        
        animation-name: smallToBig;
        animation-duration: 4s;
        font-size: 50px;
    } */

    .correctScore{
        margin-bottom: 20px;
    }
    
    .wrong{
        margin-top: 0px;
    }

    .lore{
        font-size: 10px;
    }

    .submitButton{
        display:block;
        margin: 0 auto;
        margin-top: 15px;
    }
    



}


